# ---------------------------
# __SORT__
# ---------------------------
__SORT__
# ---------------------------
# Tang Nano BUILD files
# ---------------------------
**/impl/gwsynthesis
**/impl/pnr
**/impl/temp
*.gprj.user
# ---------------------------
# Simulation Files
# ---------------------------
*.vvp
